@import './lib/commonlib.less';
.weeklist() {
    position: absolute;
    .width-16;
    ul {
        list-style: none;
        padding-left: 0;
        li {
            .normal-font;
            .number;
            line-height: @basic-ctrol-height / 1.5;
            color: @text-color;
            background-color: @white;
            &:first-child {
                border-top-right-radius: @basic-radius;
                border-top-left-radius: @basic-radius;
            }
            &:last-child {
                border-bottom-right-radius: @basic-radius;
                border-bottom-left-radius: @basic-radius;
            }
            border-bottom: 2px solid @green;
            border-left: 2px solid @green;
            border-right: 2px solid @green;
            cursor: pointer;
        }
    }
}

.main {
    .width-14;
    .mcenter;
    .header {
        text-align: center;
        span {
            .header-font;
            color: @pink;
        }
    }
    .cmdtools {
        text-align: center;
        .width-16;
        .monthly, .weekly {
            display: inline-block;
            width: calc(~"100%/2 - 1%");
            position: relative;
            .weeklist {
                margin-top: -2%;
                .weeklist;
            }
            .submitbutton {
                height: @basic-ctrol-height * 2;
                display: flex;
                justify-content: center; /* align horizontal */
                align-items: center; /* align vertical */              
                line-height: normal;
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
            }
        }
        .monthly {
            margin-right: 1%;
            .submitbutton {
                border-top-right-radius:0;
            }
        }
        .weekly {
            margin-left: 1%;
            .submitbutton {
                border-top-left-radius:0;
            }
        }
    }
    table.overviewtable {
        .basic-table;
        th {
            height: @basic-ctrol-height * 2;
        }
        tr {
            &:first-child {
                th:first-child {
                    border-top-left-radius:0;
                }
                th:last-child {
                    border-top-right-radius:0;
                }
            }

        }

    }
}
