@import './lib/commonlib.less';

.main{
	//.test-border(red);
	.section{
		//.test-border;
	}

	#searchform{
		//.test-border(yellow);
		.width-16;
		padding-top: 5%;
		padding-bottom: 2%;
		.startEndTime{
			.width-16;

			.text-input{
				.mb;
				text-align: center;
				display: block;
			}
		}

		.controlButtons{
			//.test-border(green);
			.width-16;
			&:after{
				.after-float;
			}

			.buttonItem{
				.inline-button(@half-box-height);
				border-radius: @small-radius;
				&:nth-child(2){
					margin-left: 3.325%;
				}
				&:last-child{
					float: right;
				}
			}	
		}
	}//#searchform

	.reportTableDiv{
		//.test-border;
		.width-16;
		table.reportTable{
			.basic-table(5px);

			tr.table-row:last-child .table-data:first-child {
			    border-bottom-left-radius: 0;
			}

			tr.table-row:last-child .table-data:last-child {
			    border-bottom-right-radius: 0;
			}
			.table-head, .table-data{
				text-align: center;
				height: @table-element-height;
			}

			th.table-head{
				//.test-border;
				background-color: @transparent-table-head-background;
			}
			.table-data{
				background-color: @bright-table-cell-background;
				&:first-of-type{
					.width-1;
				}

				&:nth-of-type(2){
					.width-6;
				}
				&:nth-of-type(3){
					.width-6;
				}
				&:last-of-type{
					.width-3;
				}

				& > ul.unorder-list{
				
					& > .list-item{
						margin-top: 28px;
						& > input{
							.inner-input;

						}
						& > .out{
							color: @out-color;
						}
						& > .in{
							color: @in-color;
						}
					}//list-item
					
				}//ul

				.editButton{
					.simple-button(@table-button-background, @table-button-color, @table-button-active-background, @table-button-active-color);
					height: 100%;
					line-height: @table-element-height;
				}

				/*
				.editInButton{
					background-color: @pink; 
				}
				.editOutButton{
					background-color: @green;
				}
				*/
				.confirmReturnDelete{
					.width-16;
					height: 100%;
					&:after{
						.after-float;
					}
					.changeButtons{
						text-align: center;
						padding: 0px;
						height: 50%;
						line-height: (@table-element-height / 2);
					}

					.confirmButton{
						float: left;
						.width-8;
						.simple-button(@confirm-button-background, @confirm-button-color, @confirm-button-active-background, @confirm-button-active-color);
					}
					.returnButton{
						float: right;
						.width-8;
						.simple-button(@return-button-background, @return-button-color, @return-button-active-background, @return-button-active-color);
					}
					.deleteButton{
						.width-16;
						.simple-button(@delete-button-background, @delete-button-color, @delete-button-active-background, @delete-button-active-color);
						clear: both;
						//.test-border;
					}
				}//confirmReturn
			}//tableData
		}//reportTable	
	}//reportTableDiv
} //supervisorPunchPage
