html
  h1 Password Change
  link(href='http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet')
  script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
  script(src='http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js')
  script.
    var form = document.getElementById('myform');
    document.getElementById('btn1').onclick = function() {
    form.target = '/usersettings/changepwd';
    form.submit();
    }
    }
  body
    form#myform(method='post')
      div(data-role='contant1')
        p
          | Userid:
          input(type='text', name='userid')
        p
          | Old Password:
          input(type='text', name='oldpass')
        p
          | New Password:
          input(type='text', name='newpass')
        p
          | Confirm Password:
          input(type='text', name='confirmpass')
        br
      |        Receive Email:
      button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#demo') Switch
      #demo.collapse.in
       
        input(type='text', name='receiveemail', value='#{receiveemail}')
        br
        | Weekly
        input(type='radio', name='frequency', value='1')
        | Monthly
        input(type='radio', name='frequency', value='0')
        br
        input#btn1(type='submit', name='switch button')
        p
