extends layout
append scripts
  script.
    $.ajax({url:"./changepwd",context:document.body,
            success:function(){
            alert("done");
            }});
block content
    form#myform1(method='post', action='/usersettings/changepwd')
        input(type='hidden' name="userid" value = 'LoginName_4')  
      p
        | Old Password:
        input(type='text', name='oldpass')
      p
        | New Password:
        input(type='text', name='newpass')
      p
        | Confirm Password:
        input(type='text', name='confirmpass')
        input(type="hidden" name="enableEmail" value ="1")
        input(type="hidden" name="enablerate" value ="1")
        br
        input(type='submit', name='changepwd')
    form#myform2(method='post', action='/usersettings/sendemail')
      | Receive Open:
      input(type="hidden" name="enableEmail" value ="1")
      input(type='submit', value='onoffswitch')
    form#myform3(method='post', action='/usersettings/setrate')
      | Set rate:
      input(type="hidden" name="enablerate" value ="1")
      input(type='submit', value='onoffsetrate')
