extends layout
append scripts
  script.
    $.ajax({url:"./sendemail",context:document.body,
            success:function(){
            alert("done");
            }});
block content
    form#myform1(method='post', action='/usersettings/changepwd')
        input(type='hidden' name="userid" value = 'LoginName_4')
      p
        | Old Password:
        input(type='text', name='oldpass')
      p
        | New Password:
        input(type='text', name='newpass')
      p
        | Confirm Password:
        input(type='text', name='confirmpass')
        br
        input(type='submit', name='submit')
    form#myform2(method='post', action='/usersettings/changepwd')
      | Receive Close
      input(type="hidden" name="enableEmail" value ="0")
      input(type='submit', value="onoffswitch")
    form#myform3(method='post', action='/usersettings/sendemail')
      | Email:
      input(type="hidden" name="enableEmail" value ="0")
      input(type="hidden" name ="enablerate" value ="1")
      input(type="hidden" name="userid" value= "LoginName_4")
      input(type='text', name='receiveemail', value='#{receiveemail}')
      br
      | Weekly
      input(type='radio', name='frequency', value='1')
      | Monthly
      input(type='radio', name='frequency', value='0')
      br
      input(type='submit', name='submit')
    form#myform4(method='post', action='/usersettings/setrate')
      | Set rate:
      input(type="hidden" name ="enablerate" value ="1")
      input(type='submit', value='onoffsetrate')
