extends layout
block content
	h1= title
	p Welcome to  #{title}  "<br>"

	input(type="text", placeholder="StartTime")
	input(type="text", placeholder="EndTime") 
	button(type='button' name='preview') hhh
	button(type='button' name='preview') hhh

	table(border='1')
		for (var i=0; i<3; i++)
		tr
			th 打卡时间
			th 签入签出eeee

