h1.
	delete
body 
	form(action="/company/delete", method="post")
		p ID 
			input(type="text",name="compid")
		p Company LOGO 
					input(type="text",name="compLogo")
		p User Name
					input(type="text",name="username")
		p Remark
					input(type="text",name="remark")
		p Regist Date
					input(type="text",name="regdate")
		p Expire Date 
					input(type="text",name="expdate")
		p IP
					input(type="text",name="ip")
										
					<br>
					input(type="submit",value="Submit")

	
	
