extends layout
block content
	h1= title
	p Welcome to  #{title}  "<br>"

	input(type="text", placeholder="StartTime")
	input(type="text", placeholder="EndTime") 
	button(type='button' name='preview') 
	button(type='button' name='preview') preview

	table(border='1')
		for (var i=0; i<3; i++)
		tr
			th 打卡时
			th 打卡时
			th 打卡时
			th 打卡时
	
	


