extends layout

prepend links
    link(rel='stylesheet', href='/stylesheets/style.css')
append links
    link(rel="stylesheet" href= "/tagbox/fm.tagator.jquery.css")

append scripts
    script(src="/tagbox/fm.tagator.jquery.js")

block content
    .loginpage
        .topImage
            .staticimg
                img(src="/images/adminsyslogo.png" width="150" height="150" alt= "panda")
            .loadingimg
                .loadinglogo.hidden
                    img(src="/images/circle1.png" width="150" height="150" alt= "panda")
                .loadinglogo.hidden
                    img(src="/images/circle2.png" width="150" height="150" alt= "panda")
                .loadinglogo.hidden
                    img(src="/images/circle3.png" width="150" height="150" alt= "panda")
                .loadinglogo.hidden
                    img(src="/images/circle4.png" width="150" height="150" alt= "panda")
        script(type="text/javascript").
            var $loadings = $('.loadinglogo');
            var counter=0;
            var timer;
            function loop() {
                $('.staticimg').addClass('hidden');
                var n = counter % 4;
                $loadings.each(function(index, logo){
                    var $logo = $(logo);
                    if(!$logo.hasClass('hidden'))
                        $logo.addClass('hidden');
                });
                $($loadings[n]).removeClass('hidden');
                counter++;
                timer = setTimeout(loop, 75);
            }
            loop();
            
        .content
            form(action="/login" method="POST" autocomplete="off") 
                table
                    tr
                        td(style="padding-right:40px;")
                            img.icon(src="/images/username.png")
                        td 
                            input(id="userid" name="userid" type="text")
                    tr
                        td(style="padding-right:40px;")
                            img.icon(src="/images/password icon.png" width=40 height=50)
                        td 
                            input(id="password" name="password" type="password")
                    tr
                        td(style="padding-right:40px;")
                            img.icon(src="/images/submit icon.png" alt="sign logo" width=50 height=50)
                        td
                            input(type= "hidden" name= 'loginKey' value="#{loginKey}")
                            input(type= "hidden" name= 'pageUrl' value="#{pageUrl}")
                            input(type= 'submit' value= 'Sign In')

        .bottom
            .register
