extends layout

block content
	.topImage
		img(src = "/images/panda.jpg" alt= "panda")
	.content
		form(method="POST") 
			label User Id: 
			input(type ='text' class= "useTagBox" name= 'userId')
			br
			label password: 
			input(type ='password' name= 'password')
			br
			
			input(type= "hidden" name= 'loginKey' value="#{loginKey}")
			br
			input(type= 'submit' value= 'submit')
	script.
		$(".useTagBox").tagator();
			
