.upperleft
	button(type="button" name="start") StartDate
	button(type="button" name="end") EndDate

.upperright
	button(type="button" name="preview") preview
	button(type="button" name="Export") Export
	button(type="buttton" name="back") back

.lowertable
	table(border='1')
		tr
			th name
			th id
			th StartDate
			th EndDate
			th Workhour
			th Payment
		tr
			td
			td
			td
			td
			td
			td
		tr
			td
			td
			td
			td
			td
			td
