.left
	
	img(src='')
	input(type="text" name="id" readonly="readonly")
	input(type="text" name="creattime" readonly="readonly")
	button(type="button" name="modify")	modify

.right
	input(type="text" name="name")
	input(type="text" name="gender")
	input(type="text" name="Email")
	input(type="text" name="tel")
	input(type="text" name="address")
	input(type="text" name="rate")
	input(type="text" name="depart")
	input(type="text" name="note")
	button(type="button" name="delete") delete
