extends layout
block content
    .upper
    label id
    input(type="text")
    button(type="button" name="lala") submit  

    .lower
    table(border='1')
     
            tr
                th Name
                th Id
                th option
            tr
                td
                td
                td  
                    button(ng-click='local.points = local.points - 10') button
                    button(ng-click='local.points = local.points - 10') button
