extends layout
append links
    link(rel='stylesheet', href='/stylesheets/tian.css')

block content
    .total
        .window
            
            h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error Message
            br
            h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oops.
            h1 &nbsp;&nbsp;&nbsp;Something went
            h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wrong, please
            h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;refresh 