doctype html
html  
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initail-scale=1")
        meta(name="Description" content="Attendance and Payments System")
        block links
        block scripts
            script(src="/datepicker/js/jquery-1.11.3.min.js")

    body(ontouchstart="" ontouchend="")
        .main
            block content
        .footer
            block footer
