extends layout
append links
    link(rel='stylesheet', href='/stylesheets/qr.css')
append scripts
    script.
        $(function initEvents(){
            $('.button').on('click', function(){
                location.reload();
            });
        });

block content
    .total
        .companyname
            h1= data.name
        .phone
            .phoneleft
                h1 347-698-8300
            .phoneright
                h1 917-291-7836
        .address
            h1 140-75 ASH AVE, SUITE 2F
            h1 Flushing, NY 11355
        .qrframe
            img(width=500 height=500 src="#{data.qrdata}")

        .button
            h1= tr('change_qrcode')
