h1.
	Update
body 
	form(action="/company/update", method="post")
		p ID 
			input(type="text",name="compid")
		p Company LOGO 
					input(type="text",name="compLogo")
		p User Name
					input(type="text",name="username")
		p Remark
					input(type="text",name="remark") 
										
					<br>
					input(type="submit",value="Submit")

	
	
