/**************
Variables
**************/
/************
Common Settings
************/
@font-face {
  font-family: "anivers reg";
  src: url('/fonts/Anivers_Regular.otf') format("opentype");
}
@font-face {
  font-family: "dinbek";
  src: url('/fonts/DINBek.ttf');
}
@font-face {
  font-family: "simhei";
  src: url('/fonts/SimHei.ttf');
}
@font-face {
  font-family: "open sans";
  src: url('/fonts/OpenSans-Regular.ttf');
}
.text {
  font-family: 'anivers reg', 'simhei';
}
.number {
  font-family: 'dinbeck';
}
.header-font {
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
}
.normal-font {
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
}
.small-font {
  font-size: 40px;
}
.big-font {
  font-size: 60px;
}
.margin-gap-left {
  margin-left: 3.325%;
}
.clear-browsersettings {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/************
Generate Width Loop
************/
.width-1 {
  width: 6.25%;
}
.width-2 {
  width: 12.5%;
}
.width-3 {
  width: 18.75%;
}
.width-4 {
  width: 25%;
}
.width-5 {
  width: 31.25%;
}
.width-6 {
  width: 37.5%;
}
.width-7 {
  width: 43.75%;
}
.width-8 {
  width: 50%;
}
.width-9 {
  width: 56.25%;
}
.width-10 {
  width: 62.5%;
}
.width-11 {
  width: 68.75%;
}
.width-12 {
  width: 75%;
}
.width-13 {
  width: 81.25%;
}
.width-14 {
  width: 87.5%;
}
.width-15 {
  width: 93.75%;
}
.width-16 {
  width: 100%;
}
/*************
functions
*************/
.hidden {
  display: hidden;
}
.show {
  display: '';
}
.show-block {
  display: block;
}
.mcenter {
  margin: 0 auto;
}
.non-selectable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.avoid-clicks {
  pointer-events: none;
}
.after-float {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
  height: 0px;
}
.table-head {
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
  background-color: white;
  color: #505a6a;
}
.table-head:first-child {
  border-top-left-radius: 25px;
}
.table-head:last-child {
  border-top-right-radius: 25px;
}
.table-data {
  background-color: rgba(238, 238, 238, 0.52);
  color: #505a6a;
  text-align: center;
  font-size: 40px;
}
.table-row:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.table-row:last-child td:last-child {
  border-bottom-right-radius: 25px;
}
.textinput,
.passinput {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 120px;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-indent: 10px;
  color: #505a6a;
}
.textinput::-webkit-input-placeholder {
  color: #505a6a;
}
.textinput:-moz-placeholder {
  /* Firefox 18- */
  color: #505a6a;
}
.textinput::-moz-placeholder {
  /* Firefox 19+ */
  color: #505a6a;
}
.textinput:-ms-input-placeholder {
  color: #505a6a;
}
.radioinput {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radioinput .outer {
  border-radius: 50%;
  border: 15px solid #8dc63f;
  width: 120px;
  height: 120px;
  float: left;
  cursor: pointer;
  position: relative;
}
.radioinput .outer .inner {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  background-color: #8dc63f;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.radioinput .label {
  float: left;
  height: 120px;
  line-height: 120px;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  margin-left: 5%;
}
.radioinput-center {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radioinput-center .outer {
  border-radius: 50%;
  border: 15px solid #8dc63f;
  width: 120px;
  height: 120px;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
}
.radioinput-center .outer .inner {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  background-color: #8dc63f;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.radioinput-center .label {
  text-align: center;
  height: 120px;
  line-height: 120px;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
}
.radioinput.radioselected .inner {
  display: block !important;
}
.radioinput-center.radioselected .inner {
  display: block !important;
}
.inline-display {
  height: 200px;
  line-height: normal;
  text-align: center;
  background-color: white;
  color: #505a6a;
  border-radius: 10px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.unorder-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  height: 100%;
}
.cover {
  height: 100%;
  background-color: #8dc63f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.inner-input {
  border-radius: 10px;
  width: 80%;
  height: 120px;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-indent: 10px;
  color: #505a6a;
  font-size: 40px;
  height: auto;
}
.inner-input::-webkit-input-placeholder {
  color: #505a6a;
}
.inner-input:-moz-placeholder {
  /* Firefox 18- */
  color: #505a6a;
}
.inner-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #505a6a;
}
.inner-input:-ms-input-placeholder {
  color: #505a6a;
}
.submit-button {
  background-color: white;
  color: #505a6a;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 120px;
  line-height: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.submit-button:active {
  background-color: #8dc63f;
  color: white;
}
/**
yongred changing color, new variables
*/
.bgbody {
  background-repeat: repeat-y;
  background-color: #eeeeee;
}
.main {
  width: 87.5%;
  margin: 0 auto;
}
.main .section {
  width: 100%;
}
.avatar {
  text-align: center;
}
.avatar img {
  border-radius: 50%;
  border: 20px solid #8dc63f;
  width: 300px;
  height: 300px;
}
.header-label {
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  color: #505a6a;
}
.functional-button {
  background-color: #505a6a;
  color: #8dc63f;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 120px;
  line-height: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.functional-button:active {
  background-color: #8dc63f;
  color: white;
}
.link-button {
  background-color: white;
  color: #505a6a;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 120px;
  line-height: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.link-button:active {
  background-color: #8dc63f;
  color: white;
}
.text-input,
.pwd-input {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 120px;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-indent: 10px;
  color: #505a6a;
}
.text-input::-webkit-input-placeholder {
  color: #505a6a;
}
.text-input:-moz-placeholder {
  /* Firefox 18- */
  color: #505a6a;
}
.text-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #505a6a;
}
.text-input:-ms-input-placeholder {
  color: #505a6a;
}
.main {
  color: #505a6a;
  padding-top: 5%;
}
.main .paidRate {
  padding-bottom: 5%;
}
.main .paidRate:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
  height: 0px;
}
.main .paidRate .paidRateBox {
  width: 31.25%;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  height: 300px;
  float: left;
  text-align: center;
  background-color: white;
  display: table;
  position: relative;
}
.main .paidRate .paidRateBox:nth-of-type(2) {
  margin-left: 3.325%;
}
.main .paidRate .paidRateBox:last-child {
  background-color: #505a6a;
  color: #8dc63f;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  float: right;
}
.main .paidRate .paidRateBox:last-child:active {
  background-color: #8dc63f;
  color: white;
}
.main .paidRate .paidRateBox > span {
  width: 100%;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}
.main .paidRate .paidRateBox .hourRate {
  display: table-cell;
  vertical-align: middle;
}
.main .otherInfoLinks .link-button {
  width: 100%;
  margin-bottom: 2%;
  border-radius: 0;
}
.main .otherInfoLinks .link-button:last-of-type {
  border-radius: 0px 0px 15px 15px;
}
.main .otherInfoLinks .link-button:first-of-type {
  border-radius: 15px 15px 0px 0px;
}
