body.bgbody{
    background-repeat: repeat-y;
}

.staffMainPage{

    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.staffMainPage .avatar{
    width: 90%;
    text-align: center;
    /*border: 1px solid red;*/
    margin-left: 5%;
}

.staffMainPage .avatar img{
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 50%;
    border: 20px solid rgb(138, 209, 215);
}

.staffMainPage .avatar p{
    font-size: 50px;
    color: rgb(247, 130, 131);
}

.staffMainPage .paidRate{
    width: 90%;
    /*border: 1px solid green;*/
    margin-left: 5%;
}

.staffMainPage .paidRate:after {
    content: "";
    visibility: hidden;
    clear: both;
    display: block;
}

.staffMainPage .paidRate .paidRateBox{
    float:left;
    width: 32%;
    margin-top: 20px;
    height: 300px;
    background-color: rgba(255, 255, 255, .52);
    color: rgb(103, 116, 153);
    text-align: center;
    display: table;
    position: relative;
} 

.staffMainPage .paidRate .paidRateBox:nth-of-type(2){
    margin-left: 20px;
}

.staffMainPage .paidRate .paidRateBox:last-child{
    cursor: pointer;
    float: right;
}

.staffMainPage .paidRate .paidRateBox:last-child:active{
     background-color:rgb(138, 209, 215);
     color: white;
}

.staffMainPage .paidRate .paidRateBox > span{
    font-size: 60px;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
}

.staffMainPage .paidRate .paidRateBox .hourRate{
    height: 100%;
    font-size: 60px;
    display: table-cell;
    vertical-align: middle;
}

.staffMainPage .paidRate .paidRateBox .imageCover{
    height: 100%;
    background-color: rgb(247, 130, 131);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
}

.staffMainPage .otherInfoLinks{
    text-align: center;
    /*border: 1px solid red;*/
    margin-left: 5%;
    width: 90%;
}

.staffMainPage .otherInfoLinks .otherInfo{
    width: 100%;
    height: 150px;
    line-height: 150px;
    border-bottom: 3px solid #fff;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(103, 116, 153);
    cursor: pointer;
    font-size: 50px;
}

.staffMainPage .otherInfoLinks .otherInfo:active{
    background-color:rgb(247, 130, 131);
    color: white;
}

.staffMainPage .otherInfoLinks :last-child{
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 40px;
}

.staffMainPage .otherInfoLinks :nth-child(1){
    border-radius: 15px 15px 0px 0px;
    margin-top: 40px;
}

.staffMainPage .otherInfoLinks :nth-child(2){
}

.staffMainPage .otherInfoLinks :nth-child(3){
}

.staffMainPage .otherInfoLinks :nth-child(4){

}
