body.bgbody{
    background-repeat: repeat-y;
}

.staffMainPage{

    width: 100%;
    //border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

/*
.staffMainPage .userInfo{
    width: 100%;
    height: 500px;
    border: 2px solid yellow;
}
*/

.staffMainPage .avatar{
    width: 100%;
    height: 500px;
    //border: 2px solid yellow;
    text-align: center;
}

.staffMainPage .avatar img{
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 50%;
    border: 20px solid rgb(138, 209, 215);
}

.staffMainPage .avatar p{
    font-size: 50px;
    color: rgb(247, 130, 131);
}

/*
.staffMainPage .userInfo .acctInfo{
    float: left;
    width: 49%;
    height: 100%;
    border: 2px solid yellow;
    font-size: 30px;
    color: #a2bf99;
    word-wrap: break-word;
}
*/

.staffMainPage .paidRate{
    height: 320px;
    width: 100%;
    //border: 2px solid purple;
    
}

.staffMainPage .paidRate .paidRateBox{
    float:left;
    //border: 2px solid green;
    width: 29.5%;
    margin-left: 5px;
    margin-top: 20px;
    height: 90%;
    background-color: rgba(255, 255, 255, .52);
    color: rgb(103, 116, 153);
} 

.staffMainPage .paidRate .paidRateBox:last-child{
    cursor: pointer;
}

.staffMainPage .paidRate .paidRateBox:last-child:active{

     background-color:rgb(138, 209, 215);
     color: white;
}

.staffMainPage .paidRate .paidRateBox pre{
    font-size: 60px;
    word-wrap: break-word;
}

.staffMainPage .paidRate :nth-child(1){
    margin-left: 50px;
}

.staffMainPage .otherInfoLinks{
    text-align: center;
    //border: 2px solid red;
    width: 100%;
    
}

.staffMainPage .otherInfoLinks .otherInfo{
    width: 90%;
    height: 150px;
    line-height: 150px;
    //border: 2px solid yellow;
    border-bottom: 3px solid #fff;
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(103, 116, 153);
    cursor: pointer;
    font-size: 50px;
}

.staffMainPage .otherInfoLinks .otherInfo:active{
    background-color:rgb(247, 130, 131);
    color: white;
}

.staffMainPage .otherInfoLinks :last-child{
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 40px;
}

.staffMainPage .otherInfoLinks :nth-child(1){
    border-radius: 15px 15px 0px 0px;
    margin-top: 40px;
}

.staffMainPage .otherInfoLinks :nth-child(2){
}

.staffMainPage .otherInfoLinks :nth-child(3){
}

.staffMainPage .otherInfoLinks :nth-child(4){

}
/*
.staffMainPage .otherInfoLinks .punchReport{
    position: absolute;
    left: 10%; 
    height: 150px;
    width: 80%;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
    line-height: 150px;
}

.staffMainPage .otherInfoLinks .wageReport{
    position: absolute;
    top: 25%;
    left: 10%; 
    height: 25%;
    width: 80%;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
}

.staffMainPage .otherInfoLinks .setting{
    position: absolute;
    left: 10%; 
    top: 50%;
    height: 25%;
    width: 80%;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
}

.staffMainPage .otherInfoLinks .delegate{
    position: absolute;
    left: 10%; 
    top: 75%;
    height: 25%;
    width: 80%;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
}
*/

/*
.staffMainPage .otherInfoLinks a{
    font-size: 80px;
}

.staffMainPage .otherInfoLinks a:link{
    color: rgb(103, 116, 153);
    text-decoration: none;
}

.staffMainPage .otherInfoLinks a:visited{
    text-decoration: none;
}

.staffMainPage .otherInfoLinks a:hover{
    color: white;
    text-decoration: none;
}

.staffMainPage .otherInfoLinks a:active{
    color:red;
    text-decoration: none;
}
*/