/**************
Variables
**************/
/************
Common Settings
************/
@font-face {
  font-family: "anivers reg";
  src: url('/fonts/Anivers_Regular.otf') format("opentype");
}
@font-face {
  font-family: "dinbek";
  src: url('/fonts/DINBek.ttf');
}
@font-face {
  font-family: "simhei";
  src: url('/fonts/SimHei.ttf');
}
@font-face {
  font-family: "open sans";
  src: url('/fonts/OpenSans-Regular.ttf');
}
.text {
  font-family: 'anivers reg', 'simhei';
}
.number {
  font-family: 'dinbeck';
}
.header-font {
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
}
.normal-font {
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
}
.small-font {
  font-size: 40px;
}
.clear-browsersettings {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/************
Generate Width Loop
************/
.width-1 {
  width: 6.25%;
}
.width-2 {
  width: 12.5%;
}
.width-3 {
  width: 18.75%;
}
.width-4 {
  width: 25%;
}
.width-5 {
  width: 31.25%;
}
.width-6 {
  width: 37.5%;
}
.width-7 {
  width: 43.75%;
}
.width-8 {
  width: 50%;
}
.width-9 {
  width: 56.25%;
}
.width-10 {
  width: 62.5%;
}
.width-11 {
  width: 68.75%;
}
.width-12 {
  width: 75%;
}
.width-13 {
  width: 81.25%;
}
.width-14 {
  width: 87.5%;
}
.width-15 {
  width: 93.75%;
}
.width-16 {
  width: 100%;
}
/*************
functions
*************/
.hidden {
  display: hidden;
}
.show {
  display: '';
}
.show-block {
  display: block;
}
.mcenter {
  margin: 0 auto;
}
.non-selectable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.after-float {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
  height: 0px;
}
.basic-table-head {
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
  background-color: #f78283;
  color: white;
}
.basic-table-head:first-child {
  border-top-left-radius: 25px;
}
.basic-table-head:last-child {
  border-top-right-radius: 25px;
}
.basic-table-data {
  background-color: rgba(255, 255, 255, 0.8);
  color: #677499;
  text-align: center;
  font-size: 40px;
}
.basic-table-row:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.basic-table-row:last-child td:last-child {
  border-bottom-right-radius: 25px;
}
.textinput,
.passinput {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 120px;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-indent: 10px;
  color: #677499;
}
.textinput::-webkit-input-placeholder {
  color: #677499;
}
.textinput:-moz-placeholder {
  /* Firefox 18- */
  color: #677499;
}
.textinput::-moz-placeholder {
  /* Firefox 19+ */
  color: #677499;
}
.textinput:-ms-input-placeholder {
  color: #677499;
}
.radioinput {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radioinput .outer {
  border-radius: 50%;
  border: 15px solid #8ad1d7;
  width: 120px;
  height: 120px;
  float: left;
  cursor: pointer;
  position: relative;
}
.radioinput .outer .inner {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  background-color: #8ad1d7;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.radioinput .label {
  float: left;
  height: 120px;
  line-height: 120px;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  margin-left: 5%;
}
.radioinput.radioselected .inner {
  display: block !important;
}
.unorder-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  height: 100%;
}
.inner-input {
  border-radius: 10px;
  width: 80%;
  height: 120px;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-indent: 10px;
  color: #677499;
  font-size: 40px;
  height: auto;
}
.inner-input::-webkit-input-placeholder {
  color: #677499;
}
.inner-input:-moz-placeholder {
  /* Firefox 18- */
  color: #677499;
}
.inner-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #677499;
}
.inner-input:-ms-input-placeholder {
  color: #677499;
}
.submit-button {
  background-color: #8ad1d7;
  color: white;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 120px;
  line-height: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.submit-button:active {
  background-color: #f78283;
  color: white;
}
.main {
  width: 87.5%;
  margin: 0 auto;
}
.main .header {
  text-align: center;
}
.main .header span {
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
  color: #f78283;
}
.main .cmdtools {
  text-align: center;
  width: 100%;
}
.main .cmdtools .monthly,
.main .cmdtools .weekly {
  display: inline-block;
  width: calc(100%/2 - 1%);
  position: relative;
}
.main .cmdtools .monthly .weeklist,
.main .cmdtools .weekly .weeklist {
  margin-top: -2%;
  position: absolute;
  width: 100%;
}
.main .cmdtools .monthly .weeklist ul,
.main .cmdtools .weekly .weeklist ul {
  list-style: none;
  padding-left: 0;
}
.main .cmdtools .monthly .weeklist ul li,
.main .cmdtools .weekly .weeklist ul li {
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  font-family: 'dinbeck';
  line-height: 80px;
  color: #677499;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 2px solid #8ad1d7;
  border-left: 2px solid #8ad1d7;
  border-right: 2px solid #8ad1d7;
  cursor: pointer;
}
.main .cmdtools .monthly .weeklist ul li:active,
.main .cmdtools .weekly .weeklist ul li:active {
  background-color: #8ad1d7;
}
.main .cmdtools .monthly .weeklist ul li:first-child,
.main .cmdtools .weekly .weeklist ul li:first-child {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.main .cmdtools .monthly .weeklist ul li:last-child,
.main .cmdtools .weekly .weeklist ul li:last-child {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.main .cmdtools .monthly .submit-button,
.main .cmdtools .weekly .submit-button {
  height: 240px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align horizontal */
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* align vertical */
  line-height: normal;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.main .cmdtools .monthly {
  margin-right: 1%;
}
.main .cmdtools .monthly .submitbutton {
  border-top-right-radius: 0;
}
.main .cmdtools .weekly {
  margin-left: 1%;
}
.main .cmdtools .weekly .submitbutton {
  border-top-left-radius: 0;
}
.main table.overviewtable {
  border-collapse: separate;
  border-spacing: 20px;
  margin-left: -20px;
  width: calc(100% + 2*20px);
}
.main table.overviewtable th.tableHead {
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
  background-color: #f78283;
  color: white;
}
.main table.overviewtable th.tableHead:first-child {
  border-top-left-radius: 25px;
}
.main table.overviewtable th.tableHead:last-child {
  border-top-right-radius: 25px;
}
.main table.overviewtable tr.tableRow:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.main table.overviewtable tr.tableRow:last-child td:last-child {
  border-bottom-right-radius: 25px;
}
.main table.overviewtable tr.tableRow td.tableData {
  background-color: rgba(255, 255, 255, 0.8);
  color: #677499;
  text-align: center;
  font-size: 40px;
}
.main table.overviewtable th {
  height: 240px;
}
.main table.overviewtable tr:first-child th:first-child {
  border-top-left-radius: 0;
}
.main table.overviewtable tr:first-child th:last-child {
  border-top-right-radius: 0;
}
.main {
  width: 87.5%;
  margin: 0 auto;
}
.main .header {
  text-align: center;
}
.main .header span {
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
  color: #f78283;
}
.main .cmdtools {
  text-align: center;
  width: 100%;
}
.main .cmdtools .monthly,
.main .cmdtools .weekly {
  display: inline-block;
  width: calc(100%/2 - 1%);
  position: relative;
}
.main .cmdtools .monthly .weeklist,
.main .cmdtools .weekly .weeklist {
  margin-top: -2%;
  position: absolute;
  width: 100%;
}
.main .cmdtools .monthly .weeklist ul,
.main .cmdtools .weekly .weeklist ul {
  list-style: none;
  padding-left: 0;
}
.main .cmdtools .monthly .weeklist ul li,
.main .cmdtools .weekly .weeklist ul li {
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  font-family: 'dinbeck';
  line-height: 80px;
  color: #677499;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 2px solid #8ad1d7;
  border-left: 2px solid #8ad1d7;
  border-right: 2px solid #8ad1d7;
  cursor: pointer;
}
.main .cmdtools .monthly .weeklist ul li:active,
.main .cmdtools .weekly .weeklist ul li:active {
  background-color: #8ad1d7;
}
.main .cmdtools .monthly .weeklist ul li:first-child,
.main .cmdtools .weekly .weeklist ul li:first-child {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.main .cmdtools .monthly .weeklist ul li:last-child,
.main .cmdtools .weekly .weeklist ul li:last-child {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.main .cmdtools .monthly .submit-button,
.main .cmdtools .weekly .submit-button {
  height: 240px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align horizontal */
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* align vertical */
  line-height: normal;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.main .cmdtools .monthly {
  margin-right: 1%;
}
.main .cmdtools .monthly .submitbutton {
  border-top-right-radius: 0;
}
.main .cmdtools .weekly {
  margin-left: 1%;
}
.main .cmdtools .weekly .submitbutton {
  border-top-left-radius: 0;
}
.main table.overviewtable {
  border-collapse: separate;
  border-spacing: 20px;
  margin-left: -20px;
  width: calc(100% + 2*20px);
}
.main table.overviewtable th.tableHead {
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
  background-color: #f78283;
  color: white;
}
.main table.overviewtable th.tableHead:first-child {
  border-top-left-radius: 25px;
}
.main table.overviewtable th.tableHead:last-child {
  border-top-right-radius: 25px;
}
.main table.overviewtable tr.tableRow:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.main table.overviewtable tr.tableRow:last-child td:last-child {
  border-bottom-right-radius: 25px;
}
.main table.overviewtable tr.tableRow td.tableData {
  background-color: rgba(255, 255, 255, 0.8);
  color: #677499;
  text-align: center;
  font-size: 40px;
}
.main table.overviewtable th {
  height: 240px;
}
.main table.overviewtable tr:first-child th:first-child {
  border-top-left-radius: 0;
}
.main table.overviewtable tr:first-child th:last-child {
  border-top-right-radius: 0;
}
.main table.staffview {
  border-collapse: separate;
  border-spacing: 20px;
  margin-left: -20px;
  width: calc(100% + 2*20px);
}
.main table.staffview th {
  background-color: rgba(255, 255, 255, 0.8);
  color: #f78283;
  font-family: 'anivers reg', 'simhei';
  font-size: 75px;
  font-weight: normal;
  width: 43.75%;
}
.main table.staffview td {
  background-color: rgba(255, 255, 255, 0.8);
  color: #677499;
  width: 56.25%;
  font-family: 'anivers reg', 'simhei';
  font-size: 50px;
  text-align: center;
}
.main table.staffview tr:first-child th {
  border-top-left-radius: 25px;
}
.main table.staffview tr:first-child td {
  border-top-right-radius: 25px;
}
.main table.staffview tr:last-child th {
  border-bottom-left-radius: 25px;
}
.main table.staffview tr:last-child td {
  border-bottom-right-radius: 25px;
}
