body.bgbody{
	background-repeat: repeat-y;
}

.staffPunchPage{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.staffPunchPage #searchform{
	width: 90%;
	margin-left: 5%;
	
}

.staffPunchPage #searchform .startEndTime{
	width: 100%;
}

/*
.staffPunchPage .startEndTime .startTime{
	float: left;
	width: 45%;
	height: 100%;
	border: 2px solid green;
	text-align: center;
	margin-left: 30px;
}

.staffPunchPage .startEndTime .endTime{
	float: left;
	width: 45%;
	height: 100%;
	border: 2px solid green;
	text-align: center;
	margin-left: 30px;
}
*/

.staffPunchPage #searchform .startEndTime input{
	display: block;
	width: 100%;
	height: 110px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
    text-align:center;
	font-size: 60px;
	color: rgb(103, 116, 153);
	background-color: white;
}

.staffPunchPage #searchform .startEndTime input:nth-of-type(1){
	margin-top: 50px;
}
.staffPunchPage #searchform .controlButtons{
	width: 100%;
}
.staffPunchPage #searchform .controlButtons:after {
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
}

.staffPunchPage #searchform .controlButtons .buttonItem{
	background-color: rgb(138, 209, 215);
	color: white;
	border-radius: 10px;
	cursor: pointer;
	float: left;
	width: 30%;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 50px;
	margin-bottom: 30px;
}

.staffPunchPage #searchform .controlButtons .buttonItem:active{
	background-color: rgb(247, 130, 131);
}

.staffPunchPage #searchform .controlButtons :first-child{
}

.staffPunchPage #searchform .controlButtons :nth-child(2){
	margin-left: 5%;
	margin-right: 5%;
}

.staffPunchPage #searchform .controlButtons :last-child{
	float: right;
}

.staffPunchPage .reportTable{
	margin-left: 5%;
	width: 90%;
}

.staffPunchPage .reportTable table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
	color: rgb(103, 116, 153);
}

.staffPunchPage .reportTable table th{
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	/*border: 2px solid blue;*/
	height: 200px;
	font-family: "Courier New", Courier, monospace;
	font-size: 60px;
	background-color: white;
}

.staffPunchPage .reportTable table td{
	/*border: 2px solid blue;*/
	height: 200px;
	background-color: white;
}


.staffPunchPage .reportTable table tr :nth-child(1){
	
}

.staffPunchPage .reportTable table tr :nth-child(2){
	
}

.staffPunchPage .reportTable table tr :nth-child(3){
	
}

.staffPunchPage .reportTable table tr :nth-child(4){
	
}

.staffPunchPage .reportTable table ul{
	/*border: 1px solid red;*/
	list-style: none;
	padding-left:0;
	width: 100%;
	height: 100%;
}

.staffPunchPage .reportTable table li{
	/*border: 1px solid red;*/
	font-size: 40px;
	width: 100%;
	height: 30%;
	margin-top: 28px;
	text-align: center;
}

/*
light-blue-green  rgb(138, 209, 215)  
redish  rgb(247, 130, 131)
blue  rgb(103, 116, 153)
gray  rgb(238, 238, 238)
rgba(255, 255, 255, .52)
*/
