
@font-face {

}

html, body {
    margin:0;
    padding:0;
    height: 100%;
    min-height: 100%;
}

body.bgbody {
    background-color: rgb(238,238,238);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loadinglogo {

}

.hidden {
    display: none;
}
.show {
    display: '';
}


.loginpage {
    position: relative;
    width: 100%;

}

.loginpage:after {
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
}

.loginpage .topImage {
    width: 100%; 
    text-align: center;
    margin-top: 35%;
    
}

.loginpage .content {
    width: 100%;
    margin-top: 15%;

}

.loginpage .content table {
    width: 90%;
    margin: 0 auto;
}
input {
    outline: 0;
}

.loginpage .content table td {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loginpage .content table input[type='text'], input[type='password']{
    width: 100%;
    height: 130px;
    border-radius: 75px;
    border: 6px solid white;
    line-height: 100%;
    text-indent: 70px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(220, 220, 220);
    font-size: 50px;
}

img.icon {
    width: 135px;
    height: 135px;
}


.loginpage .content table input[type='submit'] {
    height: 130px;
    border-radius: 75px;
    border:none;
    line-height: 100%;
    background-color: rgba(0, 61, 119, .28);
    color: rgb(220, 220, 220);
    font-size: 50px;
    width: 100%;

}

a {
  color: #00B7FF;
}
