body.bgbody{
	background-repeat: repeat-y;
}

.supervisorPunchPage{
    width: 100%;
}

.supervisorPunchPage #searchform{
	width: 90%;
	margin-left: 5%;
	
}

.supervisorPunchPage #searchform .startEndTime{
	width: 100%;
}

/*
.supervisorPunchPage .startEndTime .startTime{
	float: left;
	width: 45%;
	height: 100%;
	border: 2px solid green;
	text-align: center;
	margin-left: 30px;
}

.supervisorPunchPage .startEndTime .endTime{
	float: left;
	width: 45%;
	height: 100%;
	border: 2px solid green;
	text-align: center;
	margin-left: 30px;
}
*/

.supervisorPunchPage #searchform .startEndTime input{
	display: block;
	width: 100%;
	height: 110px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
    text-align:center;
	font-size: 60px;
	color: rgb(103, 116, 153);
	background-color: white;
}

.supervisorPunchPage #searchform .startEndTime input:nth-of-type(1){
	margin-top: 50px;
}
.supervisorPunchPage #searchform .controlButtons{
	width: 100%;
}
.supervisorPunchPage #searchform .controlButtons:after {
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
}

.supervisorPunchPage #searchform .controlButtons .buttonItem{
	background-color: rgb(138, 209, 215);
	color: white;
	border-radius: 10px;
	cursor: pointer;
	float: left;
	width: 30%;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 50px;
	margin-bottom: 30px;
}

.supervisorPunchPage #searchform .controlButtons .buttonItem:active{
	background-color: rgb(247, 130, 131);
}

.supervisorPunchPage #searchform .controlButtons :first-child{
}

.supervisorPunchPage #searchform .controlButtons :nth-child(2){
	margin-left: 5%;
	margin-right: 5%;
}

.supervisorPunchPage #searchform .controlButtons :last-child{
	float: right;
}

.supervisorPunchPage .reportTable{
	margin-left: 5%;
	width: 90%;
}

.supervisorPunchPage .reportTable table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
	color: rgb(103, 116, 153);
}

.supervisorPunchPage .reportTable table .tableHead{
	border-radius: 20px 20px 0px 0px;
	text-align: center;
	/*border: 2px solid blue;*/
	height: 200px;
	font-size: 60px;
	background-color: white;
}

.supervisorPunchPage .reportTable table .tableData{
	/*border: 2px solid blue;*/
	height: 200px;
	background-color: white;
}


.supervisorPunchPage .reportTable table tr :nth-child(1){
	
}

.supervisorPunchPage .reportTable table tr :nth-child(2){
	
}

.supervisorPunchPage .reportTable table tr :nth-child(3){
	
}

.supervisorPunchPage .reportTable table tr :nth-child(4){
	
}

.supervisorPunchPage .reportTable table ul{
	/*border: 1px solid red;*/
	list-style: none;
	padding-left:0;
	width: 100%;
	height: 100%;
}

.supervisorPunchPage .reportTable table .listItem{
	/*border: 1px solid red;*/
	font-size: 40px;
	width: 100%;
	height: 30%;
	margin-top: 28px;
	text-align: center;
}

.supervisorPunchPage .reportTable table li input{
	width: 80%;
	border-radius: 10px;
}

.supervisorPunchPage .reportTable table li .editButton{
	color: white;
	border-radius: 10px;
	border: none;
}

.supervisorPunchPage .reportTable table li .editInButton{
	
	background-color: rgb(247, 130, 131);
}

.supervisorPunchPage .reportTable table li .editOutButton{
	background-color: rgb(138, 209, 215);
}

.supervisorPunchPage .reportTable table li .confirmReturn{
	width: 100%;
}

.supervisorPunchPage .reportTable table li .confirmReturn:after{
	content: "";
	visibility: none;
	clear:both;
	display: block;
}

.supervisorPunchPage .reportTable table li .confirmReturn button{
	width: 48%;
	color: white;
	border-radius: 10px;
	border: none;
	padding: 0px;
}

.supervisorPunchPage .reportTable table li .confirmReturn .confirmButton{
	float: left;
	background-color: rgb(138, 209, 215);
	text-align: center;
}

.supervisorPunchPage .reportTable table li .confirmReturn .returnButton{
	float: right;
	background-color: rgb(247, 130, 131);
	text-align: center;
}

/*
light-blue-green  rgb(138, 209, 215)  
redish  rgb(247, 130, 131)
blue  rgb(103, 116, 153)
gray  rgb(238, 238, 238)
rgba(255, 255, 255, .52)
*/

