.total {
    width: 1000px;
    height: 1575px;
    background-image: url(/images/gradient.jpg);
    text-align: center;
    display: inline-block;
}
.window {
    font-size: 30px;
    color: white;
    height: 740px;
    width: 700px;
    margin-top: 400px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    border-radius: 5%;
    text-align: center;
    display: inline-block;
    background: rgba(0, 61, 119, .28);
}
