body {
    margin: 0;
    padding: 0;
}
.total {
    width: 100%;
    background: white;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.upper {
    margin: 0;
    background: rgb(245, 237, 228);
}
.images {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.name {
    width: 70%;
    margin-left: 15%;
    background: rgb(247, 130, 131);
    text-align: center;
    font-size: 75px;
    color: white;
    line-height: 125px;
    margin-top: 1cm;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.information {
    background: white;
    width: 100%;
    color: rgb(103, 116, 153);
    font-size: 45px;
}
.gender {
    margin-top: 0.5cm;
    width: 100%;
    background: rgb(245, 237, 228);
    text-align: center;
    color: rgb(103, 116, 153);
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
}
.address {
    margin-top: 0.2cm;
    width: 100%;
    background: rgb(245, 237, 228);
    line-height: 150%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.phone {
    margin-top: 0.2cm;
    width: 100%;
    background: rgb(245, 237, 228);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.email {
    margin-top: 0.2cm;
    width: 100%;
    background: rgb(245, 237, 228);
    text-align: center;
    line-height: 195%;
}
.lower {
    font-size: 50px;
    width: 100%;
}
table {
    background: rgb(245, 237, 228);
    width: 100%;
    text-align: center;
    color: rgb(247, 130, 131);
    margin: 0;
    border-collapse: separate;
    border-spacing: 10px;
    line-height: 100px;
}
.lower table td {
    background-color: white;
    height: 175px;
    cursor: pointer;
    background-color: white;
    color: rgb(247, 130, 131);
}
.lower table td.delete:active {
    background: rgb(138, 209, 215);
    color: white;
}
.lower table td.userid {
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
}
.lower table td.modify:active {
    background: rgb(138, 209, 215);
    color: white;
}
