@font-face {

}
body {
    margin:0;
    padding:0;
}

body.bgbody {
    background-image: url('/images/gradient.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

}

.loadinglogo {

}

.hidden {
    display: none;
}
.show {
    display: '';
}

.staffMainPage{
    position: relative;
    width: 100%;
    border: 1px solid red;
    height: 1920px;
}


.staffMainPage .userInfo{
    position: absolute;
    width: 100%;
    height: 600px;
    border: 2px solid yellow;
    
    /*
    -webkit-column-count:2; 
    -moz-column-count: 2; 
    column-count: 2;

    -webkit-column-gap: 10px; 
    -moz-column-gap: 10px; 
    column-gap: 10px;
    border-bottom: 3px solid #fff;
    */
}


.staffMainPage .avatar{
    position: absolute;
    width: 50%;
    height: 600px;
    border: 2px solid yellow;
}

.staffMainPage .avatar img{
    position: absolute;
    width: 350px;
    height: 350px;
    margin: 70px;
    border-radius: 50%;
}


.staffMainPage .acctInfo{
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
    border: 2px solid yellow;
}
.staffMainPage .paidRate{
    position: absolute;
    background-color: rgba(0, 61, 119, 0.28);
    top: 600px;
    height: 320px;
    width: 100%;
    border: 2px solid yellow;
    text-align: center;
    line-height: 320px;
}

.staffMainPage .paidRate .paidRateLabel{
    position: absolute;
    border: 2px solid green;
    height: 320px;
    width: 33%;
    color: #fff;
    font-size: 40px;
}

.staffMainPage .paidRate .paidRateClick{
    position: absolute;
    border: 2px solid green;
    height: 320px;
    width: 33%;
    left: 33%;
}

.staffMainPage .paidRate .paidRateDisplay{
    position: absolute;
    border: 2px solid green;
    height: 320px;
    width: 34%;
    left: 66%;
}

.staffMainPage .otherInfoLinks{
    position: absolute;
    
    text-align: center;
    border: 2px solid red;
    top: 920px;
    width: 100%;
    height: 1000px;
}

.staffMainPage .otherInfoLinks .otherInfo{
    position: absolute;
    width: 80%;
    height: 200px;
    line-height: 200px;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
    margin-top: 20px;
    left: 10%;
    background: rgba(200, 200, 200, .28);
}

.staffMainPage .otherInfoLinks :nth-child(1){
    top:50px;
    border-radius: 15px 15px 0px 0px;
}

.staffMainPage .otherInfoLinks :nth-child(2){
    top:270px;
}

.staffMainPage .otherInfoLinks :nth-child(3){
    top:490px;
}

.staffMainPage .otherInfoLinks :nth-child(4){
    top:710px;
    border-radius: 0px 0px 15px 15px;
}
/*
.staffMainPage .otherInfoLinks .punchReport{
    position: absolute;
    left: 10%; 
    height: 150px;
    width: 80%;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
    line-height: 150px;
}

.staffMainPage .otherInfoLinks .wageReport{
    position: absolute;
    top: 25%;
    left: 10%; 
    height: 25%;
    width: 80%;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
}

.staffMainPage .otherInfoLinks .setting{
    position: absolute;
    left: 10%; 
    top: 50%;
    height: 25%;
    width: 80%;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
}

.staffMainPage .otherInfoLinks .delegate{
    position: absolute;
    left: 10%; 
    top: 75%;
    height: 25%;
    width: 80%;
    border: 2px solid yellow;
    border-bottom: 3px solid #fff;
}
*/
.staffMainPage .otherInfoLinks a{
    font-size: 500%;
}

.staffMainPage .otherInfoLinks a:link{
    color:#ffffff;
    text-decoration: none;
}

.staffMainPage .otherInfoLinks a:visited{
    color:purple;
    text-decoration: none;
}

.staffMainPage .otherInfoLinks a:hover{
    text-decoration: underline;
}

.staffMainPage .otherInfoLinks a:active{
    color:red;
    text-decoration: none;
}