extends ../layout.jade

append links
	link(rel='stylesheet', href='/stylesheets/supervisorDelegate.css')

block content
	.supervisorDelegatePage(ontouchstart= "")
		.searchDiv
			form 
				input(type= "text" name= "ID" placeholder= " ......")
				input(type= "submit" value= "Search")

		.delegationTable
			table 
				tr.delegateHead
					th Name
					th Id
					th Status
					th Delegation
				
				-for(var r in userInfos)
					td= userInfos[r].name
					td= userInfos[r].userid
					td.status
					td.delegation.noselect
						.authorize(href= "#") Authorize
						.revoke.hidden(href= "#") Revoke
					tr


	script.
		var hide= $(".hidden");
		var dlg = $(".delegation");

		var statusCheck = function(){
			$(".status").each(function(){
				var hiddeKid= $(this).siblings('.delegation').find(".hidden");
				if(hiddeKid.hasClass("authorize")){
					$(this).html("Authorize");
				}else{
					$(this).html("Unauthorize");
				}
			});
		}

		$(".delegation").each(function(){
			$(this).on("click", function(ev){
				var hiddenKid = $(this).find('.hidden');
				hiddenKid.siblings().addClass("hidden");
				hiddenKid.removeClass("hidden");
				statusCheck();
			});
			statusCheck();
		});


