extends ../layout.jade

block content
	.content
		table
			tr.userInfo
				td
					-var info = ""
					-for(var index in users)
						-info += users[index] + ", " 
					p= info
			tr.otherInfo
				td
					a(href= "/search_staff") Search Staff
				td
					a(href= "/add_staff") Add Staff
			tr.otherInfo
				td
					a(href= "/staff_manage") Staff Management
				td
					a(href= "/staff_delegate") Delegate
			tr.otherInfo
				td
					a(href= "/static_qrcode") Search Staff
				td
					a(href= "/dynamic_qrcode") Dynamic Qrcode
			tr.otherInfo
				td
					a(href= "/supervisor_manage") Supervisor Management
				td
					a(href= "/setting") Setting