extends ../layout.jade

block content
	.searchDiv
		form 
			|ID:
			input(type= "number" name= "ID")
			input(type= "submit" value= "Search")

	.content
		table 
			tr.delegateHead
				th Name
				th Id
				th Status
				th Delegation
			
			-for(var r in userInfos)
				td= userInfos[r].name
				td= userInfos[r].userid
				td.status
				td.delegation
					a.authorize(href= "#") Authorize
					a.Revoke.hidden(href= "#") Revoke
				tr


	script.
		var hide= $(".hidden");
		var dlg = $(".delegation");

		var statusCheck = function(){
			$(".status").each(function(){
				var hiddeKid= $(this).siblings('.delegation').find(".hidden");
				if(hiddeKid.hasClass("authorize")){
					$(this).html("Authorize");
				}else{
					$(this).html("Unauthorize");
				}
			});
		}

		$(".delegation > a").each(function(){
			$(this).on("click", function(ev){
				$(this).addClass("hidden");
				$(this).siblings().removeClass("hidden");
				statusCheck();
			});
			statusCheck();
		});


