extends ../layout.jade

append links
    link(rel="stylesheet" href="/datepicker/css/datepicker.css")
append scripts
    script(src="/datepicker/js/bootstrap-datepicker.js")
    script(type="text/javascript").
        $(function(){
            var showing = false;
            $('.datePick').on('click', function(e) {
                if(showing){
                    $(this).datepicker('hide');
                    showing= false;
                }else{
                    $(this).datepicker('show');
                    showing= true;
                }
            });

            $('.datePick').on('changeDate', function(e){
                if(showing){
                    $(this).datepicker('hide');
                    showing= false;
                }
            });
        });

block content
    img(src="#{image_data}")
    
