extends ../layout.jade

append links
	link(rel= "stylesheet" href= "/datepicker/css/datepicker.css")

append scripts
	script(src="/datepicker/js/bootstrap-datepicker.js")

block content
	#qrcode
		img(src= "#{dataURL}" alt= "qrcode for punch card")
	#punch
		input.datePick(type= "text" name= "date") 
		button(id= "punchButton" onclick= "alert(Date())") Punch

	script.
		$(function(){
			var showing = false;
			$('.datePick').on('click', function(e){
				if(showing){
					$(this).datepicker('hide');
					showing= false;
				}else{
					$(this).datepicker('show');
					showing= true;
				}
			});

			$('.datePick').on('changeDate', function(e){
				if(showing){
					$(this).datepicker('hide');
					showing= false;
				}
			});
		});
		