extends ../layout.jade

append links
	link(rel='stylesheet' href='/stylesheets/staffSetting.css')
	link(rel='stylesheet' href='/toggleSwitch/normalize.css')
	link(rel='stylesheet' href="/stylesheets/toggleSwitchAdjust.css")
append scripts
	script(src= "/toggleSwitch/prefixfree.min.js")
	script(src= "/javascripts/toggleSwitchAdjust.js")

block content
	.staffSettingPage
		.passwordChange
			.passwordLabel PASSWORD
			form 
				input.textBox.inputBar(type ='password' name= 'oldPassword'  placeholder= "OLD PASSWORD")
				input.textBox.inputBar(type ='password' name= 'password' placeholder= "NEW PASSWORD")
				input.textBox.inputBar(type ='password' name= 'confirm' placeholder= "CONFIRM PASSWORD")
				input.longButton.inputBar(type= 'submit' value= 'SUBMIT')

		.emailSwitch.switchButton
			.switchLabel EMAIL REPORT
			.onOff.toggle.emailToggle.toggle-on 
			
		.EmailReportSetting.toggleTarget
			//(action="/usersettings" method="POST")
			form(method="POST")
				input.textBox.inputBar(type= "text" id = "receiveEmails" name = 'receiveEmails' placeholder= "EMAIL ADDRESS")

				.radioButton
					.chooseLabel CHOOSE

					.radioMonth
						input(id="mRadio" type = "radio" name= "timePeriod" value= "monthly" checked = false)
						label.radioLabel(for="mRadio") MONTHLY
					
					.orLabel OR

					.radioWeek
						input(id="wRadio" type = "radio" name= "timePeriod" value= "weekly" checked= true)
						label.radioLabel(for="wRadio") WEEKLY
				
				input.longButton.inputBar(type= 'submit' value= 'SUBMIT')

		.overTimeSwitch.switchButton
			.switchLabel OVERTIME SETTING
			.onOff.toggle.overTimeToggle.toggle-on
		
		.overTimeSetting.toggleTarget1
			.thresholdDiv
				.thresholdLabel 
					span OVERTIME THRESHOLD
				input.hourDisplay.noselect(type= "text" value= "40" readonly)
				.perWeekLabel
					span HRS PER WEEK
			.rateDiv
				.rateLabel
					span OVERTIME RATE
				input.rateDisplay.noselect(type= "text" value="1.5x" readonly)
			input.longButton.inputBar(type= 'submit' value= 'SUBMIT')