extends ../layout.jade

append links
	link(rel='stylesheet' href='/stylesheets/staffSetting.css')
	link(rel='stylesheet' href='/toggleSwitch/normalize.css')
	link(rel='stylesheet' href="/stylesheets/toggleSwitchAdjust.css")
append scripts
	script(src= "/toggleSwitch/prefixfree.min.js")
	script(src= "/javascripts/toggleSwitchAdjust.js")
	script(type='text/javascript').
		  function getObj(id){
		  		var Obj = document.getElementById(id).value;
		  		return Obj;
		  }
		  function checkpwd(){
		  		if(getObj("oldpass")==""||getObj("newpass")==""||getObj("comfirmpass")==""){
		  				alert("未输入password");
		  				document.getElementById("oldpass").focus;
		  				document.getElementById("newpass").focus;
					  	document.getElementById("confirmpass").focus;
					  	return false;//false:阻止提交表单
		  		}	
		  }
	
block content
	.staffSettingPage
		.passwordChange
			.passwordLabel PASSWORD
			form(method="POST",action="/staff_setting/settings" onsubmit = "return checkpwd()") 
				input.textBox.inputBar(type ='password' name= 'oldpass'  placeholder= "OLD PASSWORD")
				input.textBox.inputBar(type ='password' name= 'newpass' placeholder= "NEW PASSWORD")
				input.textBox.inputBar(type ='password' name= 'confirmpass' placeholder= "CONFIRM PASSWORD")
				input.longButton.inputBar(type= 'submit' value= 'SUBMIT')
				input(type = 'hidden' name='userid' value ="#{userid}")
		
			
		