extends ../layout.jade

block content
	.content
		table
			tr.userInfo
				td 
					h2 WELCOME TO THIS PAGE
					.acctInfo
						|User Account: #{user.email}
						br
						label Paid Rate: #{user.curRate}
					.avatar
						img(src="" alt= user.avatar)

			tr.otherInfo
				td
					a(href= "/user/selfreport/punch") Punch Report
				td
					a(href= "/user/selfreport/wage") Wage Report
			tr.otherInfo
				td
					a(href= "/user/setting") Setting
				td
					if delegate
						a(href= "/user/delegate") Delegate
	