extends ../layout.jade

append links
	link(rel='stylesheet' href='/stylesheets/staffSetting.css')
	link(rel='stylesheet' href='/toggleSwitch/normalize.css')
	link(rel='stylesheet' href="/stylesheets/toggleSwitchAdjust.css")
append scripts
	script(src= "/toggleSwitch/prefixfree.min.js")
	script(src= "/javascripts/toggleSwitchAdjust.js")

	script.
		$(function initEvent(){
			$('.emailSwitch > .onOff').on("click",function(){
		  		$.ajax({type:"post",
		  			url:"/staff_setting/enableEmail/" + $('#enableEmail').val(),
		  			data:{id: $("#myid").val()},
		            success:function(){
		            	alert($("#myid").val());
		         }});
		  	});

		});
	script.
		$(function initEvent(){
			$('.overTimeSwitch > .onOff').on("click",function(){
		  		$.ajax({type:"post",
		  			url:"/staff_setting/enablerate/" + $('#enablerate').val(),
		  			data:{id: $("#myid").val()},
		            success:function(){
		            	alert($("#myid").val());
		         }});
		  	});

		});
block content
	.staffSettingPage
		.passwordChange
			.passwordLabel PASSWORD
			form(method="POST",action="/staff_setting/changepwd") 
				input.textBox.inputBar(type ='password' name= 'oldpass'  placeholder= "OLD PASSWORD")
				input.textBox.inputBar(type ='password' name= 'newpass' placeholder= "NEW PASSWORD")
				input.textBox.inputBar(type ='password' name= 'confirmpass' placeholder= "CONFIRM PASSWORD")
				input.longButton.inputBar(type= 'submit' value= 'SUBMIT')
				input(type = 'hidden' name='userid' value ="#{userid}")
		.emailSwitch.switchButton
			.switchLabel EMAIL REPORT
			.onOff.toggle.emailToggle.toggle-on 
			
		.EmailReportSetting.toggleTarget
			form(method="POST",action='/staff_setting/sendemail')
				input.textBox.inputBar(type= "text" id = "receiveEmails" name = 'receiveEmails' placeholder= "EMAIL ADDRESS" value="#{receiveEmails}")
				input(type = 'hidden' name='enableEmail' value =1 id= "enableEmail")
				input(type = 'hidden' name='userid' value ="#{userid}" id="myid")
				.radioButton
					.chooseLabel CHOOSE

					.radioMonth
						input(id="mRadio" type = "radio" name= "timePeriod" value= "monthly" checked = false)
						label.radioLabel(for="mRadio") MONTHLY
					
					.orLabel OR

					.radioWeek
						input(id="wRadio" type = "radio" name= "timePeriod" value= "weekly" checked= true)
						label.radioLabel(for="wRadio") WEEKLY
				
				input.longButton.inputBar(type= 'submit' value= 'SUBMIT')

		.overTimeSwitch.switchButton
			.switchLabel OVERTIME SETTING
			.onOff.toggle.overTimeToggle.toggle-on
		
		.overTimeSetting.toggleTarget1
<<<<<<< HEAD
			form(method="POST" action="/staff_setting/setrate")
				.thresholdDiv
					.thresholdLabel 
						span OVERTIME THRESHOLD
					input.hourDisplay.noselect(type= "text" placeholder= "40" name="overtime" )
					input(type ="hidden" name ="enablerate" value= 1 id="enablerate")
					input(type = 'hidden' name='userid' value ="#{userid}")
=======
			form(method="POST")
				.thresholdDiv
					.thresholdLabel 
						span OVERTIME THRESHOLD
					input.hourDisplay.noselect(type= "text" value= "40" readonly)
>>>>>>> dev
					.perWeekLabel
						span HRS PER WEEK
				.rateDiv
					.rateLabel
						span OVERTIME RATE
<<<<<<< HEAD
					input.rateDisplay.noselect(type= "text" placeholder="1.5x" name="newrate")
=======
					input.rateDisplay.noselect(type= "text" value="1.5x" readonly)
>>>>>>> dev
				input.longButton.inputBar(type= 'submit' value= 'SUBMIT')