extends ../layout.jade

append links
    link(rel='stylesheet', href='/stylesheets/staffPunchReport.css')
    link(rel="stylesheet" href="/bootstrap-3.3.5-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.css" id="theme_base")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.date.css" id="theme_date")
    link(rel="stylesheet" href="/pickadate/lib/themes/default.time.css" id="theme_time")
    //link(rel= "stylesheet" href= "/datepicker/css/datepicker.css")
append scripts
    script(src="/pickadate/lib/picker.js")
    script(src="/pickadate/lib/picker.date.js")
    script(src="/pickadate/lib/picker.time.js")
    //script(src="/datepicker/js/bootstrap-datepicker.js")
    //script(src="/javascripts/datePickerAdjust.js")

    script.
        $(document).ready(function(){
            $(".useDatePicker").pickadate();
        });

    - function getTime(tstamp) {
    -   return moment(tstamp).format("HH:mm A");
    - }
    - function getDate(tstamp) {
    -   return moment(tstamp).format("YYYY-MM-DD");
    - }
block content
    .staffPunchPage(ontouchstart="")
        .startEndTime
            //.startTime 
            input.useDatePicker(type= "text" placeholder="START TIME ") 
            //.endTime 
            input.useDatePicker(type= "text" placeholder="END TIME ")

        .controlButtons
            .buttonItem preview
            .buttonItem export 
            .buttonItem return 

        .reportTable
            table 
                tr
                    th(colspan='4') TIME IN / OUT
                each record in records
                    tr
                        td 
                            ul
                                li DOT
                                li DOT
                        td
                            ul.dateList
                                li.inDate= getDate(record.inDate)
                                li.outDate= record.outDate ? getDate(record.outDate) : ""
                        td
                            ul.timeList
                                li.inTime= getTime(record.inDate)
                                li.outTime= record.outDate ? getTime(record.outDate) : ""
                        td
                            ul
                                li IN
                                li OUT
