extends ../layout.jade

append links
	link(rel='stylesheet' href='/stylesheets/staffSetting.css')

block content
	.staffSettingPage
		.passwordChange
			.passwordLabel PASSWORD
			form 
				input.textBox.inputBar(type ='password' name= 'oldPassword'  placeholder= "OLD PASSWORD")
				input.textBox.inputBar(type ='password' name= 'password' placeholder= "NEW PASSWORD")
				input.textBox.inputBar(type ='password' name= 'confirm' placeholder= "CONFIRM PASSWORD")
				input.longButton.inputBar(type= 'submit' value= 'SUBMIT')

		.switchButton
			.switchLabel EMAIL REPORT
			.onOff
				span.onSide ON 
				span.offSide OFF
			
		.EmailReportSetting
			//(action="/usersettings" method="POST")
			form(method="POST")
				input.textBox.inputBar(type= "text" id = "receiveEmails" name = 'receiveEmails' placeholder= "EMAIL ADDRESS")

				.radioButton
					.chooseLabel CHOOSE

					.radioMonth
						input(id="mRadio" type = "radio" name= "timePeriod" value= "monthly" checked = false)
						label.radioLabel(for="mRadio") MONTHLY
					
					.orLabel OR

					.radioWeek
						input(id="wRadio" type = "radio" name= "timePeriod" value= "weekly" checked= true)
						label.radioLabel(for="wRadio") WEEKLY
				
				input.longButton.inputBar(type= 'submit' value= 'SUBMIT')
	//script.
		var switchBtn = false;
		var onSide = $(".onSide");
		var offSide= $(".offSide");

		var cover= $(".cover");
		cover.css({
			position: "absolute",
			width: "50%",
			height: "100%",
			background: "#ccc",
			cursor: "pointer"

		});
		
		cover.on("click", function(e){
			if(switchBtn){
				
				cover.animate({left:0}, 400);
				switchBtn= false;
				$(".EmailReportSetting").slideUp("slow");
			}else{

				cover.animate({right:0}, 400);
				switchBtn= true;
				$(".EmailReportSetting").slideDown("slow");
			}
		});

		