extends ../layout.jade

block content
	.passwordChange
		form 
			label Old Password:
			input(type ='password' id= 'oldPassword' name= 'oldPassword')
			br
			label Password: 
			input(type ='password' id= 'password' name= 'password')
			br
			input(type= 'submit' value= 'Submit')

			br
			br

	.EmailReportSetting
		form
			label Receive Email:
			input(type= "text" id = "receiveEmail" name = 'receiveEmail' value = "#{emailReportData}")
			br
			label Choose Report Time Period:
			br
			input(type = "radio" name= "timePeriod" value= "weekly") 
			|weekly
			br
			input(type = "radio" name= "timePeriod" value= "monthly") 
			|monthly
			br
			input(type= 'submit' value= 'submit')

